<a href="https://colab.research.google.com/github/forexms78/AI-05-/blob/main/%EB%AF%B8%EC%85%984_2%ED%8C%80_%EB%B0%95%EB%B3%91%ED%98%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlretrieve; urlretrieve("https://raw.githubusercontent.com/c0z0c/jupyter_hangul/refs/heads/beta/helper_c0z0c_dev.py", "helper_c0z0c_dev.py")
import helper_c0z0c_dev as helper

üåê https://c0z0c.github.io/jupyter_hangul
‚ÑπÔ∏è NumPy 2.0.2 (v2.x+): Ìò∏ÌôòÏÑ± Î™®Îìú Ï†ÅÏö©Îê®
install fonts-nanum...
Mounted at /content/drive
‚úÖ ÏÑ§Ï†ï ÏôÑÎ£å: ÌïúÍ∏Ä Ìè∞Ìä∏, plt Ï†ÑÏó≠ Îì±Î°ù, pandas ÌôïÏû•, Ï∫êÏãú Í∏∞Îä•
pd commit Ï†ÄÏû• Í≤ΩÎ°ú = /content/drive/MyDrive

Ìè¨Ìä∏Î£®Ïπº ÏùÄÌñâÏù¥ Ï†ÑÌôî ÌÖîÎ†àÎßàÏºÄÌåÖÏùÑ ÌÜµÌï¥ Ï†ïÍ∏∞ ÏòàÍ∏à ÏÉÅÌíàÏùÑ ÌôçÎ≥¥Ìïú Í≤∞Í≥º Ïñ¥Îñ†Ìïú Í≥†Í∞ùÏù¥ Ï†ïÍ∏∞ ÏòàÍ∏àÏóê Í∞ÄÏûÖÌï† Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄÏßÄ Ïª¨ÎüºÏóê ÏûàÎäî Í≥†Í∞ù Ï†ïÎ≥¥ÏôÄ ÎßàÏºÄÌåÖ Ï†ïÎ≥¥Î•º ÌôúÏö©ÌïòÏó¨ yÏª¨ÎüºÏùÑ ÏòàÏ∏°ÌïòÎäî Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞

| Ïª¨ÎüºÎ™Ö         | ÏÑ§Î™Ö                                  |
|----------------|---------------------------------------|
| age            | ÎÇòÏù¥ (Ïà´Ïûê)                           |
| job            | ÏßÅÏóÖ (Î≤îÏ£ºÌòï)                         |
| marital        | Í≤∞Ìòº Ïó¨Î∂Ä (Î≤îÏ£ºÌòï)                    |
| education      | ÍµêÏú° ÏàòÏ§Ä (Î≤îÏ£ºÌòï)                    |
| default        | Ïã†Ïö© Î∂àÎüâ Ïó¨Î∂Ä (Î≤îÏ£ºÌòï)                |
| housing        | Ï£ºÌÉù ÎåÄÏ∂ú Ïó¨Î∂Ä (Î≤îÏ£ºÌòï)                |
| loan           | Í∞úÏù∏ ÎåÄÏ∂ú Ïó¨Î∂Ä (Î≤îÏ£ºÌòï)                |
| contact        | Ïó∞ÎùΩ Ïú†Ìòï (Î≤îÏ£ºÌòï)                     |
| month          | ÎßàÏßÄÎßâ Ïó∞ÎùΩ Ïõî (Î≤îÏ£ºÌòï)                |
| day_of_week    | ÎßàÏßÄÎßâ Ïó∞ÎùΩ ÏöîÏùº (Î≤îÏ£ºÌòï)              |
| duration       | ÎßàÏßÄÎßâ Ïó∞ÎùΩ ÏßÄÏÜç ÏãúÍ∞Ñ, Ï¥à Îã®ÏúÑ (Ïà´Ïûê)  |
| campaign       | Ï∫†ÌéòÏù∏ ÎèôÏïà Ïó∞ÎùΩ ÌöüÏàò (Ïà´Ïûê)           |
| pdays          | Ïù¥Ï†Ñ Ï∫†ÌéòÏù∏ ÌõÑ ÏßÄÎÇú ÏùºÏàò (Ïà´Ïûê)        |
| previous       | Ïù¥Ï†Ñ Ï∫†ÌéòÏù∏ ÎèôÏïà Ïó∞ÎùΩ ÌöüÏàò (Ïà´Ïûê)      |
| poutcome       | Ïù¥Ï†Ñ Ï∫†ÌéòÏù∏Ïùò Í≤∞Í≥º (Î≤îÏ£ºÌòï)            |
| emp.var.rate   | Í≥†Ïö© Î≥ÄÎèôÎ•† (Ïà´Ïûê)                     |
| cons.price.idx | ÏÜåÎπÑÏûê Î¨ºÍ∞ÄÏßÄÏàò (Ïà´Ïûê)                 |
| cons.conf.idx  | ÏÜåÎπÑÏûê Ïã†Î¢∞ÏßÄÏàò (Ïà´Ïûê)                 |
| euribor3m      | 3Í∞úÏõî Ïú†Î¶¨Î≥¥ Í∏àÎ¶¨ (Ïà´Ïûê)              |
| nr.employed    | Í≥†Ïö©Ïûê Ïàò (Ïà´Ïûê)                       |
| y              | Ï†ïÍ∏∞ ÏòàÍ∏à Í∞ÄÏûÖ Ïó¨Î∂Ä ('yes' ÎòêÎäî 'no') |

Ïª¨ÎüºÏùÄ ÌÅ¨Í≤å 3Í∞ÄÏßÄ Î∂ÑÎ•òÎ°ú ÎÇòÎàå Ïàò ÏûàÏäµÎãàÎã§ Í≥†Í∞ù Ï†ïÎ≥¥, ÎßàÏºÄÌåÖ Ï†ïÎ≥¥, ÏÇ¨Ìöå Î∞è Í≤ΩÏ†ú ÌôòÍ≤Ω
Í≥†Í∞ù Ï†ïÎ≥¥ Ïª¨ÎüºÏùÄ ÎÇòÏù¥, ÏßÅÏóÖ, Í≤∞ÌòºÏÉÅÌÉú, ÍµêÏú°ÏàòÏ§Ä, Ïã†Ïö©Î∂àÎüâÏó¨Î∂Ä, Ï£ºÌÉùÎåÄÏ∂úÏó¨Î∂Ä, Í∞úÏù∏ÎåÄÏ∂úÏó¨Î∂Ä
ÎßàÏºÄÌåÖ Ï†ïÎ≥¥Î°úÎäî Ïó∞ÎùΩÏú†Ìòï, ÎßàÏßÄÎßâ Ïó∞ÎùΩ Ïõî, ÏöîÏùº, ÌÜµÌôîÏãúÍ∞Ñ Ïù¥Î≤àÏ∫†Ìå®ÏóîÏóêÏÑú Ïó∞ÎùΩÌïú ÌöüÏàò Ïù¥Ï†ÑÏ∫†ÌéòÏù∏ÏóêÏÑú Ïó∞ÎùΩÌïú ÌöåÏàò, Í≤ΩÍ≥ºÌöüÏàò, Í≤∞Í≥º
ÏÇ¨Ìöå Î∞è Í≤ΩÏ†ú ÌôòÍ≤ΩÏúºÎ°† Í≥†Ïö©Î≥ÄÎèôÎ•†, ÏÜåÎπÑÏûê Î¨ºÍ∞ÄÏßÄÏàò, ÏÜåÎπÑÏûê Ïã†Î¢∞ÏßÄÏàò 3Í∞úÏõî Ïú†Î¶¨Î≥¥Í∏àÎ¶¨, Í≥†Ïö©ÏûêÏàò
ÌÉÄÍ≤üÎ≥ÄÏàòÎäî yÏ†ïÍ∏∞ÏòàÍ∏àÍ∞ÄÏûÖÏó¨Î∂Ä

In [2]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Î∂ÑÎ•òÏïåÍ≥†Î¶¨Ï¶òÏùÑ ÏÇ¨Ïö©ÌïòÎ©¥ÎêúÎã§ KNN Î°úÏßÄÏä§Ìã±ÌöåÍ∑Ä xboost

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ai05/bank-additional-full.csv',sep=';')

In [4]:
df.head(20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,198,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,139,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,217,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,380,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,50,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,55,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,222,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,137,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,293,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,146,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,174,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,312,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,440,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,353,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,195,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

ageÏóê ÎåÄÌï¥ÏÑ† ÌÅ¨Í≤å Ï§ëÏöîÌïúÍ±∏ Î™ªÎäêÎÅºÎäîÍ≤å ÏµúÏÜåÎÇòÏùòÏôÄ ÏµúÎåÄÎÇòÏù¥Í∞Ä ÌÅ¨Í≤å Î≤óÏñ¥ÎÇòÏßÄ ÏïäÏïÑÏÑú ÎÑòÏñ¥Í∞ÄÎ†§Í≥† Ìï©ÎãàÎã§

duration ÏóêÏÑ† ÌÜµÌôîÏãúÍ∞ÑÏù¥ 0 Ï¥àÏù∏Í≤ÉÏùÄ Ïó∞Í≤∞ÎêòÏßÄ ÏïäÏïòÎã§Í≥† ÌåêÎã®Ìï¥ÏÑú ÏòàÍ∏àÏùÑ Í∞ÄÏûÖÌñàÏùÑ ÌôïÎ•†Ïù¥ ÏóÜÎã§Í≥† ÌåêÎã®Ìï©ÎãàÎã§
4918Ï¥àÎäî ÏÉÅÎãπÌûà Ïò§Îûò ÌÜµÌôîÌïúÍ≤ÉÏúºÎ°ú Î≥¥ÏïÑ ÏòàÍ∏àÏóê ÏÉÅÎãπÌûà ÎßéÏùÄ Í¥ÄÏã¨ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎã§Í≥† ÌåêÎã®Ìï† Ïàò ÏûàÏäµÎãàÎã§ duration Ïª¨ÎüºÏùÄ ÌïôÏäµÏóêÎäî ÌïÑÏöîÌïòÏßÄ ÏïäÏäµÎãàÎã§
Ïù¥Ïú†Îäî ÌÜµÌôîÌïòÍ∏∞ Ï†ÑÏóê ÏòàÍ∏àÏùÑ Í∞ÄÏûÖÌï†ÏßÄ ÏòàÏ∏°ÌïòÎäîÍ≤ÉÏù¥ ÎïåÎ¨∏ÏûÖÎãàÎã§ durationÏùÄ EDAÏ∏°Î©¥ÏóêÏÑúÎäî Îß§Ïö∞ Ïú†Ïö©ÌïòÏßÄÎßå ÌïôÏäµÏóêÏÑúÎäî Ï†úÏô∏Ìï©ÎãàÎã§

campaignÍ∞ôÏùÄ Í≤ΩÏö∞Îäî Ïó∞ÎùΩÌïú ÌöüÏàòÏûÖÎãàÎã§ Ï†ÑÌôîÎ•º ÎßéÏù¥Í±∏ÏóàÎã§ÎäîÎúªÏùÄ Ï†ÑÌôîÎ•º Î∞õÏßÄÏïäÏïÑÏÑú Ïó¨Îü¨Î≤à Í±∏ÏóàÎã§Îäî ÎúªÏúºÎ°ú Ìï¥ÏÑùÌï† Ïàò ÏûàÏäµÎãàÎã§

pdays Ïù¥Ï†ÑÏ∫†ÌéòÏù∏ ÌõÑ ÌòÑÏû¨ Ï∫†ÌéòÏù∏ÍπåÏßÄÏùò Í≤ΩÌôîÌïú ÏùºÏàò pdayÍ∞ôÏùÄ Í≤ΩÏö∞Îäî 999Îäî ÏÉàÎ°úÏö¥ Í≥†Í∞ùÏù¥ÎùºÍ≥† Î≥º Ïàò ÏûàÏäµÎãàÎã§ ÏãúÍ∞ÑÏù¥ Í≤ΩÍ≥ºÎêúÍ±∏ Ïïå Ïàò ÏóÜÍ∏∞ÎïåÎ¨∏ÏûÖÎãàÎã§
999Í∞íÏùÑ Î•º Ï≤òÎ¶¨Ìï†Îïå 2Í∞ÄÏßÄÎ°ú Î≥º ÏàòÏûàÏäµÎãàÎã§
1. boolean ÌòïÌÉúÎ°ú 0Í≥º 1ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï†ëÏ¥âÏùÑ ÌñàÎäêÎÉê Ï†ëÏ¥âÌïòÏßÄ ÏïäÏïòÎäêÎÉê
2. 999Îç∞Ïù¥ÌÑ∞Î•º Ï†úÏô∏ÌïúÍ∞íÏùÑ logÌôî Ìï¥ÏÑú ÏÇ¨Ïö©ÌïòÎäêÎÉê

previousÎäî Ïù¥Î≤àÏ∫†ÌéòÏù∏ Ïù¥Ï†ÑÏóê Í≥†Í∞ùÏóêÍ≤å Ïó∞ÎùΩÌñàÎçò ÌöüÏàòÏûÖÎãàÎã§
ÏòàÎ•ºÎì§Ïñ¥ previous Í∞Ä 0Ïù¥Î©¥  pdaysÏª¨ÎüºÍ∞íÏùÄ 999Í∞Ä ÎêòÏñ¥ÏïºÌï©ÎãàÎã§ Ï†ÑÏ≤òÎ¶¨ ÏßÑÌñâÏãú Ïù¥Í∞íÏóê ÏúÑÎ∞∞ÎêòÎäî Í∞íÏù¥ ÏûàÎäîÏßÄ ÌååÏïÖÌï¥ÏïºÌï©ÎãàÎã§ Ïù¥Ïª¨ÎüºÏù¥ 1Ïù¥ÏÉÅÏù¥Î©¥ Í≥ºÍ±∞ ÏùÄÌñâÏóê Ï∫†ÌéòÏù∏Ïóê Ï∞∏Ïó¨Ìïú Ïù¥Î†•Ïù¥ ÏûàÎã§Îäî ÎßêÏûÖÎãàÎã§ pdayÎûë Îã§Î•¥Í≤å ÌöüÏàòÏù∏ Ï†êÏùÑ ÌôïÏù∏Ìï¥ÏïºÌï©ÎãàÎã§

emp.var.rateÎäî Í≥†Ïö© Î≥ÄÎèôÎ•†ÏùÑ ÎÇòÌÉÄÎÉÖÎãàÎã§ ÏñëÏàòÎ©¥ Í≥†Ïö©Ïù¥ Ï¶ùÍ∞ÄÌïòÍ≥† ÏùåÏàòÎ©¥ Í≥†Ïö©Ïùò Í∞êÏÜåÎ•º ÎÇòÌÉÄÎÉÖÎãàÎã§ Í≥†Ïö©Î•†Ïù¥ ÎÜíÏùÑÎïå Ìà¨ÏûêÏûêÎì§Ïù¥ ÏòàÍ∏à Í∞ÄÏûÖÌï† ÌôïÎ•†Ïóê ÎåÄÌï¥ÏÑú ÏïåÏïÑÎ≥º ÌïÑÏöîÏÑ±Í≥º Í∑∏ Î∞òÎåÄÏùò ÏÉÅÌô©ÎèÑ ÌôïÏù∏Ìï¥Î≥¥Í∏∞ Ï¢ãÏùÑÍ±∞ Í∞ôÏäµÎãàÎã§

price.idxÎäî Î¨ºÍ∞Ä ÏßÄÏàòÎ•º ÎÇòÌÉÄÎÇ¥Î©∞ Í∏∞Ï§ÄÏùÄ 100ÏùÑ Í∏∞Ï§ÄÏúºÎ°úÌï©ÎãàÎã§ 92Ïù¥ÎùºÎäî Ïà´ÏûêÎäî Î¨ºÍ∞ÄÏßÄÏàòÍ∞Ä 92%ÎÇòÌÉÄÎÇ¥ÎäîÍ±∞ÎπàÎã§

conf.idxÎäî ÏÜåÎπÑÏûê Ïã†Î¢∞ÏßÄÏàòÎ°úÏç® ÏÜåÎπÑÏûêÍ∞Ä -40% ÎßåÌÅº Í≤ΩÏ†úÎ•º Î∂ÄÏ†ïÏ†ÅÏúºÎ°ú Î≥∏Îã§Îäî Í≤ÉÏùÑ ÏùòÎØ∏Ìï©ÎãàÎã§

eruibor3m Í∏àÎ¶¨Î•º ÎÇòÌÉÄÎÉÖÎãàÎã§

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

# Í≥†Í∞ùÌäπÏÑ± ÌååÏïÖ

# ÎßàÏºÄÌåÖ Ï†ÑÎûµ

# ÌïµÏã¨ Î≥ÄÏàò ÌååÏïÖ